#Dont ignore
!*debug.log


# Project specific
.session_save.json
.backups

# Multimedia files
*.mp3
*.wav

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pyenv
.python-version

# Environments
.env
.venv
env/
venv/

# OS metadata
.DS_Store
Thumbs.db

# Editors
.idea
*.iml

# Logs and temporary files
*.log
*.pid
*.swp
.tmp

# OS metadata
.DS_Store
Thumbs.db
._.*
src/._*


# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.run.xml
*.bcf
